body {
	background: #c0c0c0;
}
html,
body {
	height: 100%; 
}
table {
  	border-collapse: collapse;
  	background: #fff;
  	margin: 30px auto;
	border: 9px solid #c0c0c0;
}
td {
	content: " ";
	padding: 26px 28px;
	background: #fff;
	border: 8px solid #070800;
}
.yellow_ {
	background: #ffea66;
}
.red_ {
	background: #fd563a;
}
.blue_ {
	background: #0e4e8f;

}
.black_ {
	background: #151314;
}
.black_2 {
	background: rgba(18, 28, 25, 0.95);
}
.white_ {
	background: #fff;
}

.bgd,
.bgd td {
	background: #c0c0c0;
	border: 8px solid #c0c0c0;
}
